<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<!-- th:属性名称，th:value、th:text、th:size -->

<h1 th:text="${message}"></h1>

<img th:src="${src.src1}" />
</br>
<img th:src="${src.src2}" />
</br>
<span th:text="${user.id}"></span>
<span th:text="${user.name}"></span>
<span th:text="${user.age}"></span>

</br>

<input type="text" name="names" th:value="${message}" />
</br>
<!-- 字符串拼接 -->
<span th:text="'欢迎来:'+${message}+'学习!'"></span>
</br>
<!-- 字符串拼接,方式2 -->
<span th:text="|欢迎来:${message}学习!|"></span>

</body>
</html>